___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [7]:
sal=pd.read_csv("/content/drive/MyDrive/sal/Salaries.csv")

** Check the head of the DataFrame. **

In [8]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [9]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [10]:
sal['BasePay'].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [11]:
sal['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [12]:
sal['JobTitle'][(sal["EmployeeName"]=="JOSEPH DRISCOLL")]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [13]:
sal[(sal["EmployeeName"]=="JOSEPH DRISCOLL")]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [14]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [15]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

** How many unique job titles are there? **

In [ ]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [ ]:
sal['JobTitle'].value_counts()[:5]

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
sub_sal1=sal['JobTitle'][sal['Year']==2013].value_counts()
sub_sal1[sub_sal1==1].count()

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
#... all rows with a jobtitle contains "chief" word even those who have a comma after them like (BATTALION CHIEF,)

#1
sub_sal2=sal['JobTitle'].str.upper()
sub_sal2_count=sub_sal2[sub_sal2.str.contains('CHIEF')].count()
print("The first one:\n",sub_sal2_count)
#2
print("The secound one: ")
sal['JobTitle'][sal['JobTitle'].apply(lambda x: x.upper()).str.contains('CHIEF')].count()

The first one:
 627
_____________________________
The secound one:

627

In [ ]:
#3 ... In this way will not count that cases where 'chief' is with a comma (BATTALION CHIEF,)
#In split_function by default any whitespace is a separator
#(e.g "BATTALION CHIEF, " ==> ["battalion" , "chief,"] .... the second element will not fulfill the condition)

def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False
sal['JobTitle'].apply(chief_string)[sal['JobTitle'].apply(chief_string)==1].count()

477

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
sal['TotalPayBenefits'].corr(sal['JobTitle'].apply(len))

-0.036878445932606675

Obviously, there is no correlation between them, ( -1 << -0.036878 << 1 )

In [ ]:
sal['title_len']=sal['JobTitle'].apply(len)
corr_matrix = sal[['title_len', 'TotalPayBenefits']].corr()
corr_matrix

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!